body {
    font-family: sans-serif;
}

#player-names {
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.player-name {
    font-weight: bold;
    font-size: 24px;
}

.player-versus {
    padding: 0 10px;
    margin: auto 0;
}